*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  background-color: #212121;
  color:#ccc;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  font-family: 'Helvetica';
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x:hidden;
  font-size: 18px;
  line-height: 22px;
}

a {
  color:#CD78D8;
}

html {
  zoom: 100%;

}

canvas {
  float:left;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

h1,
h2 {
  float:left;
  font-size: 28px;
  font-weight: bold;
  margin-left:20px;
  margin-bottom: 0px;
}

h2 {
  width:100%;
  font-size: 24px;
  color:#aaa;
  margin-bottom: 40px;
}

h3 {
  float: left;
  margin-top:20px;
  font-size: 20px;
  color:#aaa;
}

.description h2 {
  margin-bottom: 0px;
}

.description {
  float:left;
  width:100%;
  max-width: 700px;
  margin:20px 0px 0px 20px;
}

.description h1,
.description h2,
.description p {
  float:left;
  margin-left:0px;
  width:100%;
}

.description p {
  margin-top:20px;
}

.example,
.canvas-wrapper {
  float:left;
  width:100%;
}

#example1 {
  z-index: 800;
}

.app-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float:left;
  font-size: 18px;
  font-weight: bold;
  color:#aaa;
  font-family: 'Helvetica';
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  border:2px solid #aaa;
  padding:5px 10px;
  cursor: pointer;
  border-radius: 6px;

  -webkit-transition: color 0.3s ease-out, border 0.3s ease-out;
  -moz-transition: color 0.3s ease-out, border 0.3s ease-out;
  -o-transition: color 0.3s ease-out, border 0.3s ease-out;
  transition: color 0.3s ease-out, border 0.3s ease-out;
}

.app-btn:hover {
  color:#fff;
  border:2px solid #fff;
}

a.back-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float:left;
  font-size: 14px;
  font-weight: bold;
  color:#aaa;
  font-family: 'Helvetica';
  margin-top:10px;
  margin-left:20px;
  margin-bottom: 0px;
  border:2px solid #aaa;
  padding:5px 10px 4px 10px;
  cursor: pointer;
  border-radius: 6px;
  text-decoration: none;

  -webkit-transition: color 0.3s ease-out, border 0.3s ease-out;
  -moz-transition: color 0.3s ease-out, border 0.3s ease-out;
  -o-transition: color 0.3s ease-out, border 0.3s ease-out;
  transition: color 0.3s ease-out, border 0.3s ease-out;
}

.example-description {
  float:left;
  width:100%;
  margin:20px 0px;
}

a.back-btn:hover {
  color:#fff;
  border:2px solid #fff;
}

.code-example {
  width:100%;
  float:left;
  max-width: 700px;
}

.code-comment {
  color:#888;
}

#color-image {
  width:521px;
  height:auto;
}

#draggable-image {
  width:525px;
  height:auto;
}

#explode-image {
  width:415px;
  height:auto;
}

.example-image {
  display: block;
  float:left;
  margin-top:10px;
}

.title-wrapper {
  float:left;
  width:100%;
}

.title-wrapper .back-btn {
  margin-top:12px;
}

.code-example {
  font-size: 14px;
}